.dbStatus {
  padding: 10px;
  color: white;
  font-weight: bold;
}

.links {
  display: flex;
  flex-wrap: wrap;
}

.linkItem {
  margin: 10px;
  display: flex;
  align-items: center;
}

.linkItem img {
  margin-right: 10px;
}
