body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  background: url('https://0d4y.ch/images/bg3.jpg') no-repeat center center fixed;
  background-size: cover;
}

header, footer {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

main {
  padding-top: 60px; /* height of the header */
  padding-bottom: 60px; /* height of the footer */
}

.container {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}
